/**********************************
GENERAL
***********************************/

body {
  background: url("../img/herovertical.jpg");
  background-size: 125%;
  background-attachment: fixed;
  margin: 25px;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

h1, h2, h3 {
  padding: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

.row {
  margin: 0;
  padding: 0;
}

#main-content {

}


/**********************************
FONTS
***********************************/

@font-face { font-family: Francois One; src: url('FrancoisOne-Regular.ttf'); }

body {
  font-family: Francois One;
  font-size: 1.75rem;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  border-bottom: 4px #BA26EC solid;
  text-decoration: none;
}

header h1 {
  text-align: center;
  letter-spacing: 2px;
}

header h2 {
  text-align: center;
}

nav a {
  font-size: 1.75rem;
  font-weight: 400;
  border-bottom: 4px #FFFA66 solid;
}

nav a:hover {
  border-bottom: 4px #BA26EC solid;
}


/**********************************
COLORS
***********************************/

/* site body */
body {
  background-color: #282C34;
  color: #FFFA66;
}

/* filter for readability */
#opacity-filter {
  background-color: rgba(0, 0, 0, 0.4);
}

/* logo text */
header h1, header h2 {
  color: #fff;
}

/* links */
a {
  color: #fff;
}

a:focus {
  color: #FFFA66;
}

a:hover {
  color: #14D5E8;
}

footer #copyright {
  color: #14D5E8;
}


/**********************************
HEADING
***********************************/

header {
  width: 100%;
}

header h1 {
  height: 60%;
  padding: 13px;
}

header h2 {
  height: 40%;
  padding: 9px;
}

#header-top{
  height: 100px;
}

#header-bottom {
  height: 100px;
}


/**********************************
NAVIGATION
***********************************/

nav {
  text-align: center;
}

nav ul {
  padding: 20px;
  list-style: none;
}

nav li {
  display: inline-block;
  padding: 10px;
}


/**********************************
PAGE: HOME
***********************************/

#profile-pic {
  padding-bottom: 10px;
}

#profile-text {
  text-align: center;
}


/**********************************
FOOTER
***********************************/

footer {
  font-size: 1.5rem;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}

footer a:hover {
  border-bottom: 4px #BA26EC solid;
}

footer i {
  padding: 0px;
  margin: 20px;
}

footer #copyright {
  padding: 10px;
}

.social-icon i {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  color: white;
  margin-bottom: 5px;
  border-bottom: 4px #FFFA66 solid;
  text-decoration: none;
}

.social-icon i:hover {
  color: #14D5E8;
  text-decoration: none;
}
