/**********************************
GENERAL
***********************************/

@font-face { font-family: Francois One; src: url('FrancoisOne-Regular.ttf'); }

body {
  font-family: Francois One;
  background: url("../img/herovertical.jpg");
  background-size: 125%;
  background-attachment: fixed;
  height: 600px;
  padding: 25px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

h3 {
  padding: 10px 0 15px 0;
  margin: 0;
}


.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

.row {
  margin: 0;
  padding: 0;
}

#main-content {
  margin: 30px 0 0 0;
  padding: 0 5%;
}

#opacity-filter {
  background-color: rgba(0, 0, 0, 0.5);
}


/**********************************
HEADING
***********************************/

header {
  width: 100%;
  height: 15%;
}

h1 {
  margin: 10px;
  font-size: 1.75em;
  line-height: 1.2em;
  text-align: center;
  letter-spacing: 2px;
  padding: 5px;
}

h2 {
  font-size: 1em;
  margin: -5px 0 0;
  text-align: center;
  padding: 10px;
}

#header-top{
  height: 90px;
}

#header-bottom {
  height: 90px;
}

#logo:hover {
  text-decoration: none;
}


/**********************************
NAVIGATION
***********************************/

nav {
  text-align: center;
  padding: 10px 10px;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 8px 6px 6px 6px;
}

nav li {
  display: inline-block;
  padding: 5px;
}

nav a {
  font-size: 1em;
  font-weight: 400;
  padding: 13px 8px;
  border-bottom: 4px #FFFA66 solid;
}

nav a:hover {
  border-bottom: 4px #BA26EC solid;
}



/**********************************
FOOTER
***********************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}

footer a {
  padding: 20px;
}

footer p {
  padding: 20px;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  color: white;
  margin-bottom: 5px;
  border-bottom: 4px #FFFA66 solid;
  text-decoration: none;
}

.social-icon:hover {
  border-bottom: 4px #BA26EC solid;
  color: #14D5E8;
  text-decoration: none;
}


/**********************************
PAGE: ME
***********************************/

#profile-pic {
  display: block;
  height: 40%;
  border: none;
}

#abouttext {

}


/**********************************
PAGE: HARDWARE
***********************************/



/**********************************
PAGE: PORTFOLIO
***********************************/



/**********************************
COLORS
***********************************/

/* site body */
body {
  background-color: #282C34;
  color: #FFFA66;
}

/* logo text */
h1, h2 {
  color: #fff;
}

/* links */
a {
  color: #fff;
}

a:focus {
  color: #fff;
  text-decoration: none;
}

a:visited {
  text-decoration: none
}

a:hover {
  border-bottom: 4px #BA26EC solid;
  color: #14D5E8;
  text-decoration: none;
}
