@media screen and (min-width: 480px) {
  body {
    background: url("../img/herohorizontal.jpg");
    background-size: 120%;
    background-attachment: fixed;
  }

  #profile-pic {
    float:left;
    display: inline;
    width: 40%;
  }

  #profile-text {
    float: right;
    display: inline;
    width: 60%;
  }
}

/*@media screen and (min-width: 660px) {
  body {

  }
}*/
