@media screen and (min-width: 480px) {
  body {
    background: url("../img/herohorizontal.jpg");
    background-size: 120%;
    background-attachment: fixed;
  }
}

/*@media screen and (min-width: 660px) {
  body {

  }
}*/
