@media screen and (min-width: 480px) {
  body {
    background: url("../img/herohorizontal.jpg");
    background-size: 120%;
    background-attachment: fixed;
  }

  #profile-pic,
  #header-top {
    float:left;
    display: inline;
    width: 40%;
  }

  #profile-text,
  #header-bottom {
    float: right;
    display: inline;
    width: 60%;
  }

  body {
    font-family: Francois One;
    font-size: 1.75rem;
  }

  h1 {
    font-size: 3rem;

  }

  h2 {
    font-size: 2rem;
  }

  #opacity-filter header {
    margin-bottom: 50px;
  }

  nav a {
    font-size: 2rem;
  }

  footer {
    font-size: 1.75rem;
  }
}

/*@media screen and (min-width: 660px) {
  body {

  }
}*/
